.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 0; 
  display: flex;
  flex-direction: column;
  min-height: 95vh; 
}

.projectContainer {
  max-width: 100%; 
  padding: 0 2rem; 
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
}

.gridItem {
  background-color: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
  }
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
	color: #6c757d;
	font-size: 0.9rem;
}